<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <HashNavLink class="navbar-brand" Href="/">HashRouter.Sample</HashNavLink>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <HashNavLink class="nav-link" Href="/" Match="HashNavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </HashNavLink>
        </div>
        <div class="nav-item px-3">
            <HashNavLink class="nav-link" Href="/counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </HashNavLink>
        </div>
        <div class="nav-item px-3">
            <HashNavLink class="nav-link" Href="/user/1">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> User 1
            </HashNavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
